<nav class="navbar navbar-expand-lg fixed-top navbar-dark header">
  <a class="navbar-brand" href="#">
    <logo></logo>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
    <span class="navbar-text mr-2">
       {{username}}
    </span>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="logOut()" type="submit">Log off</button>
  </div>
</nav>
