<div [courseStatus]="course" class="course row" [ngClass]="{'course__top-rated': course.topRated}">
    <div class="course__left col-10">
        <div class="course__header row">
            <div class="course__header_left col-6">
                {{course.name | uppercase}}
                <fa-icon *ngIf="course.isTopRated" [icon]="faStar"></fa-icon>
            </div>
            <div class="course__header_right col-6">
                {{course.length | formatDuration}} {{course.date | date:'longDate'}}
            </div>
        </div>
        <div class="course__desc">
            {{course.description}}
        </div>
    </div>
    <div class="course__right col-2 my-auto mx-auto text-right">
        <div class="course__actions">
          <fa-icon class="course__actions_edit mr-2" (click)="onEdit(course.id)" [icon]="faEdit"></fa-icon>
          <fa-icon class="course__actions_delete" (click)="onRemove(course.id)" [icon]="faTimes"></fa-icon>
        </div>
    </div>
</div>
