<div class="courses container-fluid">
  <div class="row"  *ngIf="!courses.length">
    No data found!
  </div>
  <div class="row" *ngIf="courses.length">
    <div class="courses__list col-12">
      <course-item
        *ngFor="let course of courses | orderByDate"
        [course]=course
        (courseItemRemove)="onRemove($event)"
        (courseItemEdit)="onEdit($event)">
      </course-item>
    </div>
    <button (click)="onLoadMore()" type="button" class="courses__load_more btn btn-block btn-primary">
      Load More
    </button>
  </div>
</div>

