<div class="course__add_form col-12 pt-2 pb-2">
  <h2>Course management</h2>
  <form [formGroup]="courseForm">
    <div class="form-group">
        <div *ngIf="submitted && f.name.errors" class="alert alert-danger">
            <div *ngIf="f.name.errors.required">Name is required</div>
            <div *ngIf="f.name.errors.maxlength">Name must be max 50 characters long.</div>
        </div>
        <input
        formControlName="name"
        name="courseTitle"
        type="text"
        class="form-control form-control-lg"
        placeholder="Enter title"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />

    </div>
    <div class="form-group">
        <div *ngIf="submitted && f.description.errors" class="alert alert-danger">
            <div *ngIf="f.description.errors.required">Description is required</div>
            <div *ngIf="f.description.errors.maxlength">Description must be max 500 characters long.</div>
        </div>
        <textarea
            formControlName="description"
            name="courseDesc"
            class="form-control form-control-lg"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
            placeholder="Enter description"></textarea>
    </div>
    <div class="form-group">
        <div *ngIf="submitted && f.date.errors" class="alert alert-danger">
            <div *ngIf="f.date.errors.required">Date is required</div>
            <div *ngIf="f.date.errors.notmatch">Date format is wrong</div>
        </div>
        <date-input formControlName="date" name="courseDate" [invalid]="submitted && f.date.errors" ></date-input>
    </div>
    <div class="form-group">
        <div *ngIf="submitted && f.length.errors" class="alert alert-danger">
            <div *ngIf="f.length.errors.required">Length is required</div>
            <div *ngIf="f.length.errors.notmatch">Length should be a number</div>
        </div>
        <duration-input formControlName="length" name="courseDuration" [invalid]="submitted && f.length.errors"></duration-input>
    </div>
    <div class="form-group">
        <div *ngIf="submitted && f.authors.errors" class="alert alert-danger">
            <div *ngIf="f.authors.errors.required">Authors is required</div>
        </div>
        <authors-input formControlName="authors" [invalid]="submitted && f.length.errors" [authors]="authors"></authors-input>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!courseForm.valid" class="btn btn-success mr-1" (click)="onSubmit($event)">Submit</button>
      <button type="reset" class="btn btn-danger" (click)="onCancel($event)">Cancel</button>
    </div>
  </form>
</div>
