<!--The content below is only a placeholder and can be replaced.-->
<layout-header></layout-header>
<div>
  <breadcrumbs></breadcrumbs>
  <search-form></search-form>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
<layout-footer></layout-footer>
<spinner></spinner>
