<tag-input [ngModel]="value"
           (ngModelChange)="onChange($event)"
           [inputClass]="{ 'is-invalid': invalid }"
           [editable]='false'
           [onlyFromAutocomplete]="true">
    <tag-input-dropdown [showDropdownIfEmpty]="true"
                        [autocompleteItems]="getAutoCompleteValues()">
    </tag-input-dropdown>
</tag-input>
