/* You can add global styles to this file, and also import other style files */

@import "~font-awesome/css/font-awesome.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 14px;
    width: 100%;
    margin-top: 25px;
}
