<div class="search">
    <div class="search__left">
        <form class="search__form">
            <input
              class="search__form_input"
              type="text"
              name="text"
              [formControl]="searchValue"
            />
        </form>
    </div>
    <div class="search__right">
        <button class="search__add_courses" (click)="onCourseAdd()">Add courses</button>
    </div>
</div>
